{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        {% block body %}
            {% if messages %}
                <div>
                    <div class="alert alert-primary">
                        {% for message in messages %}{{ message }}{% endfor %}
                    </div>
                </div>
            {% endif %}
            <div>
                <strong class="pl-3">{% trans "Menu:" %}</strong>
                <ul class="nav flex-column">
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url %}
                        {% if email_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ email_url }}">{% trans "Change Email" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url %}
                        {% if change_password_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ change_password_url }}">{% trans "Change Password" %}</a>
                            </li>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url %}
                        {% if mfa_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ mfa_url }}">{% trans "Two-Factor Authentication" %}</a>
                            </li>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url %}
                        {% if usersessions_list_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_logout' as logout_url %}
                        {% if logout_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ logout_url }}">{% trans "Sign Out" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% url 'account_login' as login_url %}
                        {% if login_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ login_url }}">{% trans "Sign In" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_signup' as signup_url %}
                        {% if signup_url %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
