{% load i18n %}
<nav class="navbar navbar-expand-lg fixed-top">
  <a href='/' class="navbar-brand">Pewepskei</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <form class="navbar-search" method="GET" action="{% url 'search-video' %}">
    <input class="navbar-search-input" name="q" type="text" placeholder="Search" aria-label="Search" value={{ request.GET.q }}>
    <button type="submit" class="navbar-search-button"><ion-icon name="search-outline"></ion-icon></button>
  </form>
  <ul class="navbar-nav mr-auto"> 
    {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU<span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'upload-video' %}">Upload Video</a>
        </div>
      </li>
    {% endif %}
  </ul>
  <ul class="navbar-nav">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="{{ user.profile.image.url }}" width="35" height="35" class="d-inline-block rounded-circle" alt="Profile">
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{% url 'profile' user.profile.pk %}">View Profile</a>
        <a class="dropdown-item" href="{% url 'update-profile' user.profile.pk %}">Edit Profile</a>
        {% url 'account_email' as email_url %}
        {% if email_url %}
          <a class="dropdown-item" href="{{ email_url }}">Change Email</a>
        {% endif %}
        {% url 'account_change_password' as change_password_url %}
        {% if change_password_url %}
          <a class="dropdown-item" href="{{ change_password_url }}">Change Password</a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
    </li>
    <li class="nav-item">
      <a href={% url 'account_login' %} class="navbar-login"><ion-icon name="person-circle-outline"></ion-icon></a>
    </li>
    {% endif %}
  </div>
</nav>
