
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Upload Video{% endblock title%}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 col-xs-12">
            <form action="{% url 'test' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.file }}
                <button type="submit">Upload Video</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
