{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-outline-info btn-block" type="submit" name="action" value="{% trans 'change password' %}"/>
    </form>
    {% endif %}
{% endblock content %}
