{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-outline-info btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock content %}
